@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block: .6rem;
    margin: 0;
    background-color: #27292b;
    font-family: 'Poppins', sans-serif;
}

.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}